.services-section {
    position: relative !important;
    padding-top: 150px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.services {
    position: relative;
    text-align: center;
    padding: 50px;
    align-items: center;
    opacity: 0.5;
}

.services img{
    width: 90%;
    height: 500px;
    border-radius: 3px;
}

.services .service-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.service-content h1{
}
.service-content p{
    font-size: 18px;
}
.service-content .service-buttons{
    background-color: yellow;
    border: 0 !important;
    padding: 10px;
}
