.about-section {
    position: relative !important;
    padding-top: 150px !important;
    /* padding-bottom: 30px !important; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .home-card-view {
    box-shadow: 0 4px 5px 3px gray !important;
    color: #000 !important;
    background-color: #fff !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }

.home-card .home-buttons{
  background-color: #d4af37;
  color: #fff;
}
.icon-colour {
    color: #ffff33  !important;
    margin: 15px;
  }